@import './../variables';
@import './../fonts';


.header{
    display: flex;
    grid-row: 1/span 1;
    grid-column: 1/span 2;
    background-color: $top-bg-color;
    border-radius: 1rem;
}
.logo{
    display: flex;
    text-decoration: none;
    padding: 20px;

}
.img{
    margin-right: 10px;
}
.logo_wraper{
    display: flex;
    flex-direction: column;
}
.title{
    margin-bottom: 0;
    font-family: "RobotoSlab";
    text-transform: uppercase;
    letter-spacing: 3.39px;
    color: $main-green;
    font-size: 18px;
    margin-top: 4px;
    margin-left: 4px;
}
