@import './../variables';
@import './../fonts';

.nav{
    display: flex;
    flex-direction: column;
    padding: 20px;
    min-height: 160px;
    justify-content: space-between;
}
.link{
    color: #ffffff;
    font-family: "Roboto-Thin";
    font-size: 15px;;
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 60px;
}
.link:hover{
        color: $main-green;
}
.active{
    color: $main-green;
}