@import 'variables';
@import 'fonts';
@import 'utils';


.nav{
    padding: 20px;
    min-height: 160px;
    justify-content: space-between;

    &__link{
        color: #ffffff;
        font-family: "Roboto-Thin";
        font-size: 15px;;
        text-transform: uppercase;
        text-decoration: none;
        margin-right: 60px;
    }
    &__link:hover{
            color: $main-green;
    }
}